{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}
{% block content %}

<!-- Login.html Content Start -->
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="text-center">
      <h3 class="mb-3">{% trans "Log In" %}</h3>

      <p class="mb-3">{% blocktrans %}Welcome back to DREAMPORTAL.</p>
      <hr>
      <p class="mb-3">You need to log in to create your own post, as well as to bookmark, like or comment on a post.</p>
      <p class="mb-4">If you have not created an account yet, then <a class="link" href="{{ signup_url }}"
          aria-label="Link to navigate to sign up page">sign up</a> first.{% endblocktrans %}</p>
    </div>
    <div class="text-center">
      <!-- Login Form -->
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right mt-3" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
<!-- Login.html Content End -->
{% endblock %}