{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock head_title %}
{% block content %}

<!-- Signup.html Content Start -->
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="text-center">
      <h3 class="mb-3">{% trans "Sign Up" %}</h3>
      <p class="mb-3">{% blocktrans %}Already have an account? <a class="link" href="{{ signup_url }}"
          aria-label="Link to navigate to sign up page">Log in</a> here{% endblocktrans %}</p>
      <hr>
      <p class="mb-3">You need to sign up and log in to create your own posts, as well as to bookmark, like or comment on a post.</p>
      <hr>
    </div>
    <div class="text-center">
      <!-- Sign Up Form -->
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right mt-3" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
<!-- Signup.html Content End -->
{% endblock %}