/* Fonts */
body {
    font-family: Raleway, serif;
    font-weight: 500;
}

.brand,
h1,
h2 {
    font-family: Nunito, serif;
    font-size: 2.4rem;
    font-weight: 700;
}

.thin {
    font-size: 2.4rem;
    font-weight: 300;
}

/* Navbar / base.html */
.navbar .nav-link.active {
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
}

.navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.header-bg {
    background-color: #6D747D;
}

.footer-bg {
    background-color: #222529;
}

.main-bg {
    background-color: #D7DDE8;
}

.banner {
    width: 100vw;
    height: fit-content;
    background-color: #B9B8ED;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #222529;
    padding: 10px 10px;
}

.banner p {
    margin: 5px;
}

/* Content */

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    text-transform: capitalize;
}

.post-card {
    border: solid 1px #6D747D;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0px 3px 3px #6D747D;
    width: 100%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #6B57E3;
}

.scale {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    position: relative;
    display: block;
    width: 100%;
}

.masthead-text {
    background-color: #6D747D;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
}

.masthead-image img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.link {
    color: #222529;
    text-decoration: none;
    font-weight: bolder;
}

.link:hover,
.link:active {
    color: #6B57E3;
    text-decoration: underline;
}

.post-link {
    text-decoration: none;
    color: #222529;
}

.post-link:hover,
.page-link:hover {
    color: #6B57E3;
}

.post-title {
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
}

.post-subtitle {
    color: white;
}

.fa-icon i {
    vertical-align: middle;
    font-size: 1.1rem;
}

.signup ul {
    list-style-position: inside;
}

.overlay {
    position: fixed;
    z-index: 1050;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.modal-header {
    background-color: #6B57E3;
}

/* Buttons */
.btn {
    font-weight: 500;
    background-color: #B9B8ED;
    color: #222529;
}

.btn:hover,
.btn:active {
    background-color: #6B57E3;
    color: white;
}

.btn-secondary {
    background-color: #6D747D;
    color: white;
}

.btn-delete,
.btn-bookmark-delete {
    color: white;
    background: #6B57E3;
}

.btn-delete:hover,
.btn-delete:active,
.btn-bookmark-delete:hover,
.btn-bookmark-delete:active {
    color: #222529;
    background: #B9B8ED;
}

.btn-like {
    color: #222529;
    border: 1px solid #6B57E3;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #222529;
    background: transparent;
    border: 1px solid #B9B8ED;
}