/* Global */
body {
    font-family: Raleway, serif;
    font-weight: 500;
}

h1, h2 {
    font-family: Nunito, serif;
}


/* base.html */
.brand {
    font-family: Nunito, serif;
    font-size: 2.4rem;
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

.navbar .nav-link.active {
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
}

.navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.header-bg {
    background-color: #6D747D;
}

.footer-bg {
    background-color: #222529;
}

/* Content */

.main-bg {
    background-color: #D7DDE8;
}

.card {
    border: none;
    background-color: transparent;
}

.post-card {
    border: solid 1px #6D747D;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0px 3px 3px #6D747D;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #6B57E3;
}

.scale {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    position: relative;
    display: block;
    width: 100%;
}

.masthead-text {
    background-color: #6D747D;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 100%;
}

.masthead-image img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.post-link {
    text-decoration: none;
    color: #222529;
}

.post-link:hover,
.page-link {
    color: #6B57E3;
}

.post-title {
    font-size: 2rem;
    margin: 0;
}

.post-subtitle {
    color: white;
}

.btn {
    font-weight: 500;
}

.btn-signup,
.btn-edit {
    background-color: #B9B8ED;
    color: #222529;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #6B57E3;
    color: white;
}

.link {
    color: #222529;
    text-decoration: none;
    font-weight: bolder;
}

.link:hover,
.link:active {
    color: #6B57E3;
    text-decoration: underline;
}

.btn-like {
    color: #6B57E3;
    border: none;
    background: transparent;
}

.btn-delete {
    color: white;
    background: #6B57E3;
}

.btn-like:hover,
.btn-like:active {
    color: #6B57E3;
    background: transparent;
    border: none;
}

.login ul {
    list-style-position: inside;
}

.overlay {
    position: fixed;
    z-index: 1050;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}