.brand {
    font-family: Nunito, serif;
    font-size: 2.4rem;
    font-weight: 700;
}

.thin {
    font-weight: 300;
}

.navbar .nav-link {
    color: white;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}